.git
.gitignore
.gitattributes
.env
.env.local
.env.*.local
.dockerignore
docker-compose.yml
Dockerfile
.DS_Store
.idea
.vscode
*.log
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
public/hot
public/storage
*.pem
.editorconfig
.prettierignore
phpunit-coverage.xml
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
coverage
dist
build
database/database.sqlite
database/database.sqlite-journal
*.sqlite
*.sqlite-journal
trackflow
